.btn{
    border: 1px solid orange;
    padding: 5px 10px;
    border-radius: 12px;
    transition: all 0.5s ease ;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
    color: white;
}
